[tool.poetry]
name = "renard-pipeline"
version = "0.2.1"
description = "Relationships Extraction from NARrative Documents"
authors = ["Arthur Amalvy <arthur.amalvy@univ-avignon.fr>"]
license = "GPL-3.0-only"
readme = "README.md"
packages = [
    { include = "renard" }
]

[tool.poetry.dependencies]
# optional dependencies
stanza = { version = "^1.3.0", optional = true }
spacy = { version = "^3.5.0", optional = true }
coreferee = { version = "^1.4.0", optional = true }
spacy-transformers = {version = "^1.2.1", optional = true}
# required dependencies
python = "^3.8,<3.11"
torch = ">=2.0.0, !=2.0.1"
transformers = "^4.30.2"
nltk = "^3.6.5"
tqdm = "^4.62.3"
networkx = "^2.6.3"
more-itertools = "^8.12.0"
nameparser = "^1.1.0"
matplotlib = "^3.5.3"
seqeval = "1.2.2"
pandas = "^1.4.4"
pytest = "^7.2.1"
tibert = "^0.1.0"

[tool.poetry.dev-dependencies]
hypothesis = "^6.24.0"
Sphinx = "^4.3.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-autodoc-typehints = "^1.12.0"

[tool.poetry.extras]
stanza = ["stanza"]
spacy = ["spacy", "coreferee", "spacy-transformers"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
